.speedDial {
  position: fixed;
  right: 3vmax;
  top: 1vmax;
  width: 10px;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: tomato;
  background-image: none;
} */